{% extends 'recipe/layout.html' %}

{% block title %} Search {% endblock %}

{% block content %}
    <div class="text-light">
        <h1>Search</h1>
        <form action="{% url 'search' %}" method="GET">
            {{ form }}
            <input type="submit" value="Search" class="btn btn-warning btn-lg m-0">
        </form>

        {% if error_message %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error_message }}
          </div>          
        {% endif %}


        {% if recipes %}
            {{ recipes|safe }} 
        {% endif %}
    </div>
{% endblock %}